body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.pin-top {
    position: relative;
}
.pin-bottom {
     position: relative;
 }
.pinned {
      position: fixed !important;
  }
input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.15, #94A14E),
            color-stop(0.15, #C5C5C5)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
}
.noUi-handle {
    display: none;
}
#tracks{
    padding: 0 0 50px 0;
    overflow: hidden;
}

#bars{
    margin-top: 50px;
    margin-left: -100px;
    position: absolute;
}

#bars img{
    bottom: 1px;
    left: 1px;
    position: absolute;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.bar {
    background: #393939;
    bottom: 1px;
    height: 3px;
    position: inherit;
    width: 3px;
    animation: sound 0ms -800ms linear infinite alternate;
}

.bar-stop{
    background: #393939;
    bottom: 1px;
    height: 3px;
    position: inherit;
    width: 3px;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }​