body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.pin-top {
    position: relative;
}
.pin-bottom {
     position: relative;
 }
.pinned {
      position: fixed !important;
  }
input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.15, #94A14E),
            color-stop(0.15, #C5C5C5)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
}
.noUi-handle {
    display: none;
}
