#player{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
}

#playbtn{
    height: 60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background: transparent;
    float:left;
    outline:none;
}

#stopbtn{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background: transparent;
    float:left;
    outline:none;
}


#shufflebtn{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background: transparent;
    float:left;
    outline:none;
}


#timeline{
    width: 85%;
    height: 2px;
    margin-top: 30px;
    float: left;
    border-radius: 15px;
    background: rgba(0,0,0,.3);

}
#duration{
    float: left;
}
#indicator{
    width: 2px;
    height: 30px;
    background: rgba(0, 0, 0,1);

}
.trackbtn{
    width: 100%;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(173, 163, 151, 0.4);
    background-color: rgba(173, 163, 151, 0.2);
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}
.trackbtn:hover{
    background-color: rgba(214, 203, 211, 0.4);
}
.trackbtn:focus{
    background-color: white;
}