@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.pin-top {
  position: relative;
}
.pin-bottom {
  position: relative;
}
.pinned {
  position: fixed !important;
}
input[type="range"]{
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 6px;
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  color-stop(0.15, #94A14E),
                  color-stop(0.15, #C5C5C5)
  );
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #E9E9E9;
  border: 1px solid #CECECE;
  height: 15px;
  width: 15px;
}
.noUi-handle {
  display: none;
}
#tracks{
  padding: 0 0 50px 0;
  overflow: hidden;
}

#bars {
  position: absolute;
  background-color: black;
  img {
    bottom: 1px;
    left: 1px;
    position: absolute;
    overflow: hidden;
    opacity: 0.8;
  }
}

.playing {
  background: #ffffff;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 10px;
  animation: sound 0ms -800ms linear infinite alternate;
  @for $i from 1 through 10{
    &:nth-child(#{$i}) {
      left: #{$i*10}px;
      animation-duration: #{randomNum(400, 500)}ms;
    }
  }
}
.now_playing {
  background: #000000;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 2px;
  animation: sound_small 0ms -800ms linear infinite alternate;
  @for $i from 1 through 24{
    &:nth-child(#{$i}) {
      left: #{$i*2}px;
      animation-duration: #{randomNum(400, 500)}ms;
    }
  }
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 50px;
  }
}
@keyframes sound_small {
  0% {
    opacity: .35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 30px;
  }
}