#player{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
}

#playbtn{
    height: 20px;
    width: 20px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background: transparent;
    float:left;
    outline:none;
}

#stopbtn{
    height:20px;
    width: 20px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background: transparent;
    float:left;
    outline:none;
}


#shufflebtn{
    height: 20px;
    width: 20px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background: transparent;
    float:left;
    outline:none;
}


#nextbtn{
    height: 20px;
    width: 20px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background: transparent;
    float:left;
    outline:none;
}


#previousbtn{
    height: 20px;
    width: 20px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background: transparent;
    float:left;
    outline:none;
}


#timeline{
    width: 95%;
    height: 2px;
    float: left;
    border-radius: 15px;
    background: rgba(0,0,0,.3);

}
#duration{
    float: left;
}
#indicator{
    width: 2px;
    height: 30px;
    background: rgba(0, 0, 0,1);
    margin-left: 0px;
}
#current{
    margin-top: 50px;
    margin-bottom: 0px;
}
.trackbtn{
    width: 100%;
    height: 110px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(173, 163, 151, 0.4);
    background-color: rgba(173, 163, 151, 0.2);
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}
.trackbtn:hover{
    background-color: rgba(214, 203, 211, 0.4);
}
.trackbtn:focus{
    background-color: white;
}
input[type=search]{
    width: 100%;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(173, 163, 151, 0.4);
    background-color: rgba(173, 163, 151, 0.2);
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
    margin-top: 70px;
}
input[type=search]:hover {
    background-color: rgba(214, 203, 211, 0.4);
}
input[type=search]:focus{
    background-color: white;
}
.active{
    background-color: white;
}
a {
    color: #333333;
    text-decoration: none;
    padding: 15px 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
a:hover {
    color: #69bccc;
}