#player{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
}

#playbtn{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('http://www.alexkatz.me/codepen/img/play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/img/pause.png') ;}

#timeline{
    width: 95%;
    height: 2px;
    margin-top: 30px;
    float: left;
    border-radius: 15px;
    background: rgba(0,0,0,.3);

}
#duration{
    float: left;
}
#indicator{
    width: 2px;
    height: 30px;
    background: rgba(0, 0, 0,1);

}